p Hi {{ firstName }},
p We're happy you signed up for {{ appName }}. To get started, please verify your email address.
a(href='{{ verifyUrl }}') Verify now

p Welcome to {{ appName }}! &nbsp;- The {{ appName }} Team